/* Your app's CSS, go crazy, make it your own */

#button {
    line-height: 12px;
    width: 100px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    left:0;
}

ng-map {
    display: inline !important;
    //width:100% !important;  
    //height:100% !important;
    //position: absolute;
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.details {
    padding: 0px 12px 20px 12px;
}

.details img {
    float: left;
    margin-right: 12px;
}

.list {
    clear: both;
}