
<div layout-xs="column" layout-gt-xs="row" layout-fill >
  <div flex-gt-xs="85" flex-xs="85" ng-class="{hide: variable.displaymap != 0}">
    <div layout-fill>
      <ng-map zoom="11" >
	<control name="overviewMap" opened="true" />
      </ng-map>
    </div>
  </div>

  <div flex-gt-xs="85" flex-xs="85" ng-if="variable.displaymap == 1">
    <div ng-repeat="wps in game.info.wps | orderBy: 'name'" ng-class="{taken: wps.taken==1 , 'not_taken': wps.taken==0}" layout="row">
      <div flex="45"><h2>WP: {{wps.name}}</h2></div>
      <div flex="20"><h2>Alt: {{wps.taken_alt}}</h2></div>
    </div>
  </div>

  <div flex-gt-xs="85" flex-xs="85" ng-if="variable.displaymap == 2">
    <div layout="row">
      <div flex="45"><h2>Player</h2></div>
      <div flex="20"><h2>Distance</h2></div>
    </div>
    <div ng-repeat="(key, other) in game.others" layout="row">
      <div flex="45"><h3>{{key}}</h3></div>
      <div flex="20"><h3>{{other.distance}}m</h3></div>
    </div>
  </div>

  <div flex-gt-xs="15" flex-xs="15">
    <div layout-xs="row" layout-gt-xs="column"   layout-align="center center" layout-fill>
      <!-- <div style='min-height: 25%; min-width: 25%' layout-fill>{{button.nosleep}}</div> -->
      <button style='min-height: 10%; min-width: 10%' layout-fill ng-click="enableNoSleep()">{{button.nosleep}}</button>
      <button style='min-height: 10%; min-width: 10%' layout-fill ng-click="mapWPS()">{{button.mapwps}}</button>
      <button style='min-height: 10%; min-width: 10%' layout-fill>3</button>
      <button style='min-height: 10%; min-width: 10%' layout-fill>4</button>
    </div>
  </div>
</div>
