<!-- HEADER -->
<ion-view>
  <ion-nav-button class="button-clear" ng-click="goBack()">
    <i class="icon ion-arrow-left-c"></i> Back
  </ion-nav-button>
  

<!-- GAME LIST -->

  <ion-content>

    <div class="list">
      <div class="item item-button-right item-icon-left " ng-repeat="g in all_games">
	<a href="/ggame.html#/game/{{g.id}}" >
	  <i class="icon ion-eye"></i>
	  {{ g.id }}
	</a>
	<button class="button button-positive" ng-click="join(g.id)">
	  <i class="icon ion-plus"></i>
	</button>
      </div>
    </div>

  </ion-content>
</ion-view>

<!-- FOOTER -->
<div class="bar bar-footer " ng-class="{'bar-assertive': update_error==2, 'bar-balanced': update_error==1}">
  <div ng-click="updateGames()" class="title">
    {{footer_message}} 
    <i class="icon ion-loop" ></i>
  </div>
</div>
